.App {
  text-align: center;
  margin: 60px auto;
    max-width: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: sans-serif;
  background: #f9f7fe !important;
}

.weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
}

.degree-num {
  font-size: 3.8rem;
  font-weight: 500;
  color: #333;
  margin-left: 20px;
}

.degree-sign {
  position: relative;
  top: -34px;
}

.degree-sign a {
  cursor: pointer;
}

.weather-icon {
  width: 80px;
  height: 80px;
}

.wt-desc {
  color: #70757a;
  font-size: 16px;
  line-height: 1;
  height: 19px;
  display: block;

}

.city-name {
  color: #7c7c7c;
  font-size: 2.2rem;
  line-height: 28px;
  font-weight: 500;
}

.details {
  color: #7c7c7c;
  font-size: 1.2rem;
  line-height: 38px;
  height: 19px;
  
}
.details span{
  padding-left: 3px;
}
.details::first-letter {
  text-transform: capitalize;
}

.weather-info {
  margin-top: 4rem !important;
}

.align-top a {
  text-decoration: none;
}

.footer {
  color: rgba(39, 33, 66, .4);
  font-size: 16px;
  line-height: 20px;
  margin-top: 50px;
  text-align: center;

}

.footer a {
  color: #885df1;
  text-decoration: none;
}

.form-css .btn {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}

.form-css .search-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, .4);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}

.temp-relations {
  color: #734fcd;
}

.weather-forecast {
  text-align: center;
  color: #000;
}

.weather-forecast-day {
  opacity: 0.6;
}

.forecast-min {
  opacity: 0.5;
}

.weather .city{
  padding: 15px;
}

.weather .city a{
  display: inline-block;
  text-decoration: none;
  padding-bottom: 30px;
}

.weather .temperature{
  font-size : 56px;
  color: black;
  line-height: 64px;
}

.weather img{
  width: 64px;
  height: 64px;
  margin-right: 5px;
}

.weather .unit{
  position: relative;
  top: -25px;
}

